@import "tailwindcss";

:root {
  /* --prim-color: #8b98f9; */
  /* --bg-color: rgb(13 14 25); */
  /* --txt-color: #e7eaff; */
}

body {
  font-family: "Inter", sans-serif;

  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;

  /* background-color: var(--bg-color);
  color: var(--txt-color); */
  background-color: #111;
}

#todo-container {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #222;
}
button {
  cursor: pointer;
}
