@import "tailwindcss";

:root {
  --prim-color: #8b98f9;
  --bg-color: rgb(13 14 25);
  --txt-color: #e7eaff;
}

body {
  font-family: "Inter", sans-serif;

  box-sizing: border-box;

  background-color: var(--bg-color);
  color: var(--txt-color);
}
